process {
    withName: BISMARK_DEDUPLICATE {
        ext.args = { params.umi ? "--barcode${params.umi_bclconvert ? ' --bclconvert' : ''}" : '' }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ]
        ]
    }
}
