process {
    withName: PICARD_UMIMARKDUPLICATES {
        ext.args = "--ASSUME_SORT_ORDER coordinate --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp"
        ext.prefix = { "${meta.id}.markdup.sorted" }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated/picard_metrics" },
                pattern: "*.metrics.txt",
                mode: params.publish_dir_mode
            ],
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated/picard_metrics" },
                pattern: "*.umi_metrics.txt",
                mode: params.publish_dir_mode
            ],
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated" },
                pattern: "*.bam",
                mode: params.publish_dir_mode
            ]
        ]
    }
}
