process {
    withName: PICARD_FIXMATEINFORMATION {
        ext.args   = '--VALIDATION_STRINGENCY LENIENT --IGNORE_MISSING_MATES true'
        ext.prefix = { "${meta.id}.fixmate" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/alignments" },
            pattern: "*.bam",
            mode: params.publish_dir_mode,
            enabled: params.save_align_intermeds
        ]
    }
}
