process {
    withName: SAMTOOLS_UMITAGTRANSFER {
        ext.args   = '-F 2048'  // exclude supplementary alignments; fixmate cannot add MC to them
        ext.rx_tag = 'RX'
        ext.prefix = { "${meta.id}.markdup.sorted" }
        publishDir = [
            enabled: false  // intermediate file; not published to results
        ]
    }
}
